* {
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif
}

body {
    padding: 10px
}

header {
    display:flex;
    justify-content: space-between;
}

.introContainer {
    text-align: center;
    visibility: visible;
    position: absolute;
    padding-top: 0px
}

.questionContainer {
    visibility: hidden;
    position: absolute;
    padding-top: 0px

}

.finalResults {
    visibility: hidden
}

.start-button {
    display: flex;
    justify-content: center;
}




